version: '3.9'

services:
  postgres:
    image: postgres:18
    container_name: postgres_db
    environment:
      POSTGRES_DB: document_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      retries: 5
    networks:
      - document_net

  redis:
    image: redis:7.2
    container_name: redis_cache
    ports:
      - "6379:6379"
    networks:
      - document_net

  document-service:
    build: .
    container_name: document_service
    ports:
      - "8082:8082"
    depends_on:
      - postgres
      - redis
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/document_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
    networks:
      - document_net

volumes:
  postgres_data:

networks:
  document_net:
    driver: bridge
